:root {
  --blue_select: rgb(70, 130, 180);
  --bluer: rgb(30, 144, 255);
  --bottom_border: rgb(250, 128, 114);
}

body {
  background: linear-gradient(0.25turn, #b3ffab, #12fff7);
}

p {
  font-size: 27px;
  font-family: "Dongle", sans-serif;
}

a {
  text-decoration: none;
}

#Profiles {
  padding-bottom: 1000px;
}

#Profiles a {
  font-size: 23px;
  color: var(--bluer);
  display: block;
}

#Profiles a:hover {
  text-decoration: underline;
  font-size: 1.5vw;
  transition: font-size 0.3s;
  text-shadow: 1px 1px 2px var(--blue_select);
}

#Title {
  text-align: center;
  margin-top: 10px;
  font-size: 60px;
  font-family: Garamond;
  text-decoration: 3px underline solid var(--bottom_border);
}

#Profiles {
  margin-top: 200px;
  text-align: center;
}

.Description {
  padding-top: 100px;
  margin-left: 35%;
}

.Description #content {
  text-align: center;
  border: 5px black;
  width: 600px;
  height: 130px;
}
