:root {
  --blue_select: rgb(70, 130, 180);
  --bluer: rgb(30, 144, 255);
  --bottom_border: rgb(250, 128, 114);
}

body {
  background: linear-gradient(0.25turn, #b3ffab, #12fff7);
}

body.xavier {
  overflow: hidden;
}

html,
body {
  /* Disables side scrolling! */
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

p {
  font-size: 27px;
  font-family: "VT323", monospace;
}

a {
  text-decoration: none;
}

#Profiles {
  margin-top: 80px;
  text-align: center;
}

#Profiles a {
  font-size: 23px;
  color: var(--bluer);
  display: block;
}

#Profiles a > div {
  display: none;
}
#Profiles a:hover > div {
  margin-left: 20%;
  margin-top: -3%;
  display: block;
}

#Profiles a:hover {
  text-decoration: underline;
  font-size: 1.5vw;
  transition: font-size 0.3s;
  text-shadow: 1px 1px 2px var(--blue_select);
}

.Description #Title {
  text-align: center;
  margin-top: 10px;
  font-size: 60px;
  font-family: "VT323", monospace;
  text-decoration: 3px underline solid var(--bottom_border);
}

.Description {
  margin: auto 35% auto;
}

.Description img {
  padding-left: 8vw;
}

.Description #content {
  text-align: center;
  border: 5px solid transparent;
  width: 30vw;
  height: 15vh;
}

#Title {
  font-family: "VT323", monospace;
}

.card-title {
  font-family: "VT323", monospace;
  color: darkorange;
}

#Linkedin {
  padding-right: 235px;
}

#Basics {
  margin: 0;
  position: absolute;
  top: 28%;
  left: 60%;
  -ms-transform: translate(-80%, -50%);
  transform: translate(-80%, -50%);
}

#Preferences {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 60%;
  -ms-transform: translate(-80%, 10%);
  transform: translate(-80%, 10%);
}

h2 {
  font-size: 60px;
  font-family: "VT323", monospace;
}

#Movie {
  margin: 0;
  position: relative;
  bottom: 81%;
  left: 75%;
}

#Movie #Link {
  text-align: center;
}

#Song {
  margin: 0;
  position: absolute;
  top: 86%;
  left: 13.2%;
  -ms-transform: translate(-80%, 10%);
  transform: translate(-80%, 10%);
}
