body {
  background: linear-gradient(0.25turn, #b3ffab, #12fff7);
}

#Profiles {
  margin-top: 300px;
  text-align: center;
}

#Profiles a {
  text-decoration: none;
}

#Profiles a:hover {
  text-decoration: underline;
}
